
.icon-graph:before { content: '\e80b'; } /* '' */
.icon-people:before { content: '\e80c'; } /* '' */
.icon-circles:before { content: '\e80d'; } /* '' */
.icon-define:before { content: '\e80e'; } /* '' */
.icon-date:before { content: '\e80f'; } /* '' */
.icon-setting:before { content: '\e810'; } /* '' */
.icon-filter:before { content: '\e811'; } /* '' */
.icon-activity:before { content: '\e812'; } /* '' */
